*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    text-decoration:none;
}
body{
    height:100vh;
    background-image:url("pexels-rpnickson-2775196.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;

}
header{
    width:100vw;
    height:100px;
    border-radius:20px;
    display:flex;
    justify-content:right;
    align-items:center;
    background-color:rgba(206, 206, 206, 0.17);
    padding-right:9%;
}
header ul{
    list-style:none;
    display:flex;
    align-items:center;
    gap:30px;
    font-size:1.4rem;
}
header ul li a{
    color:white;
    font-weight:550;
    position:relative;
    padding:4px;
    transition:.5s;
}
header ul li a::after{
    content:"";
    position:absolute;
    background:linear-gradient(to left,blue,black);
    width:0%;
    height:3px;
    left:0;
    bottom:-3px;
    transition:.5s;
}
header ul li a:hover:after,header ul li a:hover{
    width:100%;
    color:black;
}
.image{
    width:500px;
    height:500px;
    margin-top:6% ;
    margin-left:3%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.image .item{
    width:500px;
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    position:relative;
}
.image .item::before{
    content:"";
    position:absolute;
    width:200%;
    height:70%;
    background:linear-gradient(transparent,red,blue);
    padding:3px;
    z-index:-1;
    animation:round 3s linear infinite;
}
.image.item::after{
    content:"";
    position:absolute;
    background:black;

}
 @keyframes round{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
 }
img{
    width:495px;
    height:495px;
}
@media (max-width:767px) {
    body{
        background:rgba(242, 163, 242, 0.979);
        height:100vh;
        width:100vw;
    }
    header{
        background:rgb(242, 144, 242);
        width:100vw;
        height:60px;
        border-radius:10px;
        padding-right:6%;
    }
    header ul{
        gap:10px;
        font-size:1.1rem;
    }
}