*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("pexels-sachin-c-nair-236689-954929.jpg");
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;

}
.gallery{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("pexels-fotios-photos-2043035.jpg");
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;   
}
.one{
    font-size:4rem;
    font-weight:600;
}