*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    color:white;
}
body{
    background-color:rgb(121, 121, 121);
    height:100vh;
}
.navbar{
    width:100vw;
    height:100px;
    background-color:rgb(113, 113, 111);
    display:flex;
    justify-content:space-between;
    padding:0 9px;
}
.logo{
    align-self: center;
    font-size:2rem;
    background:linear-gradient(to left,rgb(0, 247, 0),yellow);
    background-size:cover;
    background-clip:text;
    color:transparent;
    animation: backgr 5s linear infinite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes backgr{
    0%{
        background-position-x:-150px;
    }

}

ul{
    display:flex;
    align-items:center;
    list-style:none;
    gap:25px;
    margin-right:5%;

}
ul li a{
    font-size:1.2rem;
    font-weight:600;
    transition:.5s;
    padding:5px;
    position:relative;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ul li a:hover{
    color:aqua;
    transition:.5s;
}
ul li a::after{
    content:"";
    position:absolute;
    height:3px;
    width:0;
    background:linear-gradient(to left,white,blue,yellow,white);
    left:0;
    bottom:-2px;
    transition:.4s;

}
ul li a:hover:after{
    width:100%;
}
ul li a:active,.linky:hover,.linky{
    color:black;
}
.an{
    height:75vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.an h2{
    font-size:3rem;
    background:linear-gradient(to left,lightgreen,red,black);
    background-size:300%;
    background-clip:text;
    color:transparent;
    /*animation:rot 5s linear infinite;*/
    animation:move 8s linear 2s infinite;
    font-family:'Times New Roman', Times, serif;
}

@keyframes move{
    from{
        background-position:0%;
    }
    to{
        background-position:300%;
    }
}
.end{
    background-color:rgb(114, 114, 113);
    width:100vw;
    height:100px;
    border-radius:20px;
    padding-top:10px;
}
.end p{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.3rem;
    font-weight:600;
}
@media (max-width:767px){
    body{
        background:linear-gradient(to left,slategray,skyblue);

    }
    .navbar{
        background:linear-gradient(to left,rgb(104, 128, 152),rgb(96, 191, 228));
        height:60px;
        padding:0px 5px;
    }
    .logo{
        font-size:1.2rem;
    }
    ul{
        gap:10px;
        margin-right:7%;
    }
    ul li a:hover{
        color:chartreuse;
    }
    .an{
        height:84vh;
    }
    .an h2 {
        font-size:1.8rem;
    }
    .end{
        background:linear-gradient(to left,rgb(104, 128, 152),rgb(96, 191, 228));
        height:60px;
        border-radius:10px;
        padding:5px;

    }
    .end p{
        font-size:.8rem;
    }
}